<div class="container">
  <%= simple_form_for(@job) do |f| %>
    <%= f.input :complete, as: :boolean, label: "Job complete?" %>
    <%= f.input :photo, as: :file, label: 'Upload a photo' %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
