<div class="navy-footer">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%= image_tag "freelancer-logo-old-light.svg", class: "freelancer_avatar" %></div>
      <div class="col-2">
        <h4>Freelancer</h4>
      </div>
      <div class="col-2">
        <h4>About</h4>
      </div>
      <div class="col-2">
        <h4>Terms</h4>
      </div>
      <div class="col-2">
        <h4>Partners</h4>
      </div>
      <div class="col-2">
        <h4>Apps</h4>
      </div>
    </div>
  </div>
</div>
