.freelancer-wrapper {
  background-color: white;
  padding-top: 0;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0px -1px 5px 0.2px rgb(137, 137, 137);
  margin-bottom: 16px;
}

.freelancer-wrapper > p{
  padding-left: 16px;
  font-size: 12px;
}

.freelancer-card {
  border-bottom: 1px dotted black;
  padding: 12px;
  align-items: center;
}

.freelancer-card a {
  display: flex;
  text-decoration: none;
  color: black;
}

.freelancer-card:hover {
  background-color: rgb(216, 216, 216);
}

.freelancer-card-photo {
  width: 200px;
  height: 200px;
  margin-right: 16px;
}

.freelancer-card-photo > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.freelancer-card-rates {
  height: 200px;
  text-align: right;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.freelancer-card-rates h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.freelancer-card-rates a.btn{
  color:white;
}

#collapseExample {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

#collapseExample.collapsing,
#collapseExample.show {
  max-height: none;
}
