.navy-footer {
 background-color: #161e2c;
 color: white;
 padding-top: 32px;
 padding-bottom: 32px;
 font-size: small;
}

.navy-footer p {
 color: grey;
 font-size: small;
}

.navy-footer h4 {
  font-size: small;
}
