// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .sec-navbar {
//     width: 100%;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .sec-navbar {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .sec-navbar {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

.sec-navbar {
  background: rgb(14,23,36);
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  min-width:max-content;
  flex-wrap: nowrap;
}

.sec-navbar .btn {
  color: white;
  font-size: 0.85rem;
  height: 100%;
  padding: 1rem;
}

.sec-navbar .btn:hover {
  background: #ffffff26;
}

.job-link-card {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(80px, 5px);
  z-index: 1;
  display: none;
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: black;
}

.freelancer-link-card {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(200px, 5px);
  z-index: 1;
  display: none;
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: black;
}

.idea-link-card {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(330px, 5px);
  z-index: 1;
  display: none;
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: black;
}

.about-link-card {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(430px, 5px);
  z-index: 1;
  display: none;
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: black;
}

.resource-link-card {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(510px, 5px);
  z-index: 1;
  display: none;
  width: 200px;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: black;
}

.job:hover + .job-link-card {
  display: block;
}

.freelancer:hover + .freelancer-link-card {
  display: block;
}

.idea:hover + .idea-link-card {
  display: block;
}

.about:hover + .about-link-card {
  display: block;
}

.resource:hover + .resource-link-card {
  display: block;
}
