.white-box {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.white-box p {
  font-size: small;
}

.white-box .image_tag {
  height: 50px;
  width: 50px;
}
